<h1>Borrower: <%= @borrower.name %></h1>

<h2>Borrowing History</h2>
<ul>
  <% @borrower.lendings.each do |lending| %>
    <li>
      <strong>Book:</strong> <%= link_to lending.book.title, book_path(lending.book) %> |
      <strong>Borrowed On:</strong> <%= lending.borrowed_on %> |
      <strong>Returned On:</strong> <%= lending.returned_on %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', books_path %>
