<h1>Borrow Book: <%= @book.title %></h1>

<%= form_with model: @borrower, url: borrow_book_path(@book), method: :patch, local: true do |form| %>
  <div class="field">
    <%= form.label :name, "Borrower's Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Borrow" %>
  </div>
<% end %>

<%= link_to 'Back', book_path(@book) %>